/*---------------
UTILITIES
----------------*/

body{
    font-family: 'Roboto', sans-serif;
}

.divider{
    margin: 0;
    margin-bottom: .625rem;
}

.icon-line-white{
   width: 4.6875rem;
   height: .3125rem;
   border-radius: 1.25rem;
   background-color: white; 
}

.icon-line-black{
    width: 4.6875rem;
    height: .3125rem;
    border-radius: 1.25rem;
    background-color: black; 
 }

.icon-star{
    color: currentColor;
}

/*---------------
    HEADER 
----------------*/

header{
    color: white;
    background-color: #2c3e50;
}

.burger-menu{
    font-size: 1.25rem;
    color: grey;
    padding: .3125rem;
    border: 1px solid white;
    border-radius: .3125rem;
    cursor: pointer;
}

.header-link{
    text-decoration: none;
    color: white;
}

/*---------------
    HERO 
----------------*/

.hero{
    color: white;
    background-color: #1abc9c;
}


.hero-img{
    width: 40%;
}


/*---------------
    MAIN
----------------*/

/* Portfolio Section */

.portfolio-img{
    width: 100%;
    border-radius: .625rem;
}

/* /Portfolio Section */

/* About Section */

.about{
    color: white;
    background-color: #1abc9c;
}

.ms-container-small{
    max-width: 62.5rem;
    width: 80%;
    margin: auto;
}

.download-button{
    color: white;
    background-color: transparent;
    border: .0625rem solid white;
    border-radius: .3125rem;
}

/* /About Section */

/* Contact Me Section */


/* /Contact Me Section */

/*---------------
    FOOTER 
----------------*/

.footer-one{
    color: white;
    background-color: #3a546d;
}

.footer-two{
    color: white;
    background-color: #2c3e50;
}